EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_your_publishable_key_here
EXPO_PUBLIC_API_BASE_URL=https://notify-me-backend-p7ft.onrender.com
SENTRY_AUTH_TOKEN=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

